<%- include("../partials/header", {title: 'Following'}) %> 
<body>
    <div class="container">
        <div class="row">
            <%- include("../partials/nav") %> 
            <div class="col-sm">
                <%- include("../partials/userList", {results: results}) %> 
            </div>
        </div>
    </div>
</body>
</html>