<%- include("../partials/header", {title: 'Home'}) %> 
<body>
    <div class="container">
        <div class="row">
            <%- include("../partials/nav") %> 
            <div class="col-sm-6 m-auto text-center">
                <h1>Welcome to Mallard</h1>
                <img src="https://www.allaboutbirds.org/guide/assets/photo/60021831-480px.jpg"/>

            </div>
        </div>
    </div>

</body>
</html>