<%- include("../partials/header", {title: 'Home'}) %> 
<body>
    <%- include("../partials/nav") %> 
    <h1>congradulations you made it mitchell</h1>
    <% if (user) { %>
        <%= user.displayName %> 
    <% } %>
</body>
</html>