<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<% quackBacks.forEach( quack => { %>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= quack.user.displayName %></h5>
            <h6 class="card-subtitle">@<%= quack.user.username %></h6>
            <p class="card-text"><%= quack.content %> </p>
            <% if (quack.user.id == user.id) { %>
                <a href="/quackBack/<%= quack.id %>/edit" class="card-link">
                    Edit
                </a>
            <% } %>
        </div>
    </div>
    
<% }) %> 



