<%- include("../partials/header", {title: 'Quack'}) %> 
<body>
    <div class="container">
        <div class="row">
            <%- include("../partials/nav") %> 
            <div class="col-sm-6">
                <div class="card">
                    <h3 class="card-header">Quack</h3>
                    <div class="card-body">
                        <form action="/quack/create" method="POST">
                            <div class="form-group">
                                <textarea type='text' required placeholder="Whats on your mind..." name="content" class="form-control"></textarea>
                            </div>
                            <input type='submit' class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../partials/bootScripts") %> 
</body>
</html>