<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a Quack</title>
</head>
<body>
    <%- include("../partials/nav") %> 
    <form action="/quack/create" method="POST">
        <input type='text' required placeholder="Whats on your mind..." name="content" />
        <input type='submit' />
    </form>
</body>
</html>