<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <%- include("../partials/nav") %> 
    <form action="/quack/<%= quack.id %>/edit?_method=PUT" method="POST">
        <input type='text' required placeholder="Whats on your mind..." name="content" value="<%= quack.content %>"/>
        <input type='submit' />
</body>
</html>