<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit</title>
</head>
<body>
    <%- include("../partials/nav") %> 
    <form action="/quack/<%= quack.id %>/edit?_method=PUT" method="POST">
        <input type='text' required placeholder="Whats on your mind..." name="content" value="<%= quack.content %>"/>
        <input type='submit' />
</body>
</html>