<%- include("../partials/header", {title: 'All Quacks'}) %> 
<body>
    <%- include("../partials/nav") %> 
    <% quacks.forEach(quack => { %> 

        <p><%= quack.user %> </p> <br>
        <p><%= quack.content %> </p>

    <% }) %> 
</body>
</html>