<%- include("../partials/header", {title: 'Home'}) %> 
<body>
    <div class="container">
        <div class="row">
            <%- include("../partials/nav") %>
            <div class="col-sm-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <h3 class="card-header">Quacks</h1>
                    <div class="card-body">
                        <%- include("../partials/quacks", {quacks:quacks}) %> 
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                    <h3 class="card-header">Quack</h6>
                    <div class="card-body">
                        <form action="/quack/create" method="POST">
                            <div class="form-group">
                                <textarea type='text' required placeholder="Whats on your mind..." name="content" class="form-control"></textarea>
                            </div>
                            <input type='submit' class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../partials/bootScripts") %> 
</body>
</html>