<%- include("../partials/header", {title: 'Search'}) %> 
<body>
    <div class="container">
        <div class="row">
            <%- include("../partials/nav") %>  
            <div class="col-sm-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <h3 class="card-header">Search</h3>
                    <div class="card-body">
                        <form action="/search" method="POST">
                            <div class="form-group">
                                <input type="text" name="search" placeholder="Search for a user" class="form-control"/>
                            </div>
                            <input type="submit" value="search" class="btn btn-primary"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <% if (results) { %>
                    <%- include("../partials/userList", {results: results}) %> 
                <% } %>
            </div>
        </div>
    </div>
    <%- include("../partials/bootScripts") %> 
</body>
</html>